* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
* before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Raleway", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px 15px;
  position: relative;
}

.header-wrap {
  background: url(../img/index.jpg) no-repeat;
  background-size: cover;
}

.header-wrap__logo {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  color: white;
  text-align: center;
  padding: 248px 0 15px 0;
}

.category__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  padding: 60px 20px 30px;
}

.category__blocks {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.category__blocks-item {
  /* height: 230px; */
  width: 165px;
  background: url(../img/whitejacket.jpg) no-repeat;
  background-size: cover;
}

.category__blocks-jackets {
  background: url(../img/bluecoat.jpg) no-repeat;
  background-size: cover;
}

.category__blocks-item-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  background: rgba(224, 190, 162, 0.75);
  padding: 8px 0;
  margin-top: 195px;
  /* flex-direction: column; */
}

.feedback__follow {
  padding: 0 20px;
}

.feddback__follow-inp {
  border: 0.5px solid #252525;
  padding: 12px 0;
  width: 100%;
}

.feedback__follow-btn {
  background: #e0bea2;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-align: center;
  padding: 12px 0;
  margin: 15px 0;
}

.feedback__follow-text {
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 40px;
}

.catalog {
  padding: 0 20px;
}

.catalog__filltres {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 0.3px solid #252525;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.return {
  padding: 0 20px 40px 20px;
}

.return__logo {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 15px;
}

.return__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.return__block-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 55px 0 0;
  text-align: center;
  position: relative;
}

.return__block-text::before {
  content: "";
  background: url(../img/icons/birka.png) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10%;
  left: 45%;
}

.bike::before {
  content: "";
  background: url(../img/icons/bike.png) no-repeat;
  background-size: cover;
}

.clock::before {
  content: "";
  background: url(../img/icons/clock.png) no-repeat;
  background-size: cover;
}

.card::before {
  content: "";
  background: url(../img/icons/card.png) no-repeat;
  background-size: cover;
  height: 24px;
}

.money::before {
  content: "";
  background: url(../img/icons/money.png) no-repeat;
  background-size: cover;
}

.blunk::before {
  content: "";
  background: url(../img/icons/blunk.png) no-repeat;
  background-size: cover;
  width: 27px;
}

.zakaz {
  padding: 0 20px;
}

.zakaz__title {
  padding-bottom: 10px;
}

.zakaz__cards {
  display: flex;
  padding: 5px 0;
  border-bottom: 0.3px solid #252525;
}

.zakaz__cards-block {
  padding-left: 10px;
  flex-grow: 1;
}

.zakaz__cards-block-article {
  color: #e0bea2;
  padding-bottom: 5px;
}

.zakaz__cards-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.zakaz__cards-title-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.zakaz__cards-title-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.zakaz__cards-parametrs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zakaz__cards-parametrs-circle {
  border: 0.3px solid #252525;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}

.zakaz__cards-parametrs-circle::after {
  content: "";
  background: #f1ddaa;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
}

.zakaz__cards-parametrs-circle-blue::after {
  content: "";
  background: #6f83a4;
}

.zakaz__cards-parametrs-size-text {
  padding: 12px 5px 10px 10px;
}

.zakaz__cards-parametrs-size {
  border: 0.5px solid #252525;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  width: 49px;
  height: 40px;
}

.zakaz__cards-parametrs-size::after {
  content: "";
  background: url(../img/icons/Vector.svg) center no-repeat;
  width: 20px;
  height: 30px;
  position: absolute;
  top: 7px;
  right: 6px;
}

.zakaz__cards-parametrs-quantity {
  padding: 11px 26px;
  border: 0.5px solid #252525;
  position: relative;
}

.zakaz__cards-parametrs-quantity-inp {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
}

.zakaz__cards-parametrs-quantity-inp input {
  width: 15px;
}

.zakaz__cards-parametrs-quantity-inp::before {
  content: "";
  background: url(../img/icons/minus.svg) center no-repeat;
  width: 20px;
  height: 30px;
  position: absolute;
  top: 6px;
  left: 2px;
}

.zakaz__cards-parametrs-quantity-inp::after {
  content: "";
  background: url(../img/icons/plus.svg) center no-repeat;
  width: 20px;
  height: 30px;
  position: absolute;
  top: 5.5px;
  right: 7px;
}

.zakaz__text {
  padding: 15px 0 50px 0;
  text-align: right;
}

.ordering__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 15px;
}

.ordering__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 15px;
}

.ordering__inputs input {
  border: 0.5px solid #252525;
  display: block;
  padding: 12px 99px;
  width: 100%;
}

.ordering__inputs-inp {
  margin-bottom: 15px;
}

.ordering__radio-flex {
  display: flex;
  padding-bottom: 15px;
}

.ordering__viza {
  padding-bottom: 30px;
}

.ordering__radio-input {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

.ordering__radio-text {
  width: 312px;
  padding-left: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}

.ordering__radio-text-viza::after {
  content: "";
  background: url(../img/viza.svg) no-repeat;
  background-size: contain;
  width: 76px;
  height: 15px;
  position: absolute;
  top: 20px;
  left: 4px;
}

.ordering__radio-text-privat::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background: url(../img/privat.svg) no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
}

.ordering__radio-box {
  position: relative;
  display: inline-block;
  flex-basis: 18px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0.3px solid #252525;
}

.ordering__radio-box::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #e0bea2;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.ordering__radio-input:checked + .ordering__radio-box::before {
  transform: translate(-50%, -50%) scale(1);
}

.calc-bonus {
  padding: 12px 68px;
  border: 0.5px solid #252525;
}

.ordering__links {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.ordering__links-personal {
  padding: 20px 0 0;
}

.ordering__links-personal a {
  color: #e0bea2;
}

.ordering__links-item {
  padding-top: 15px;
}

.ordering__delivery-flex {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 15px;
}

.ordering__delivery {
  padding-top: 20px;
}

.ordering__delivery-flex-text {
  font-weight: 700;
}

.ordering__delivery-btn {
  background-color: #e0bea2;
  padding: 11px 0;
  width: 100%;
  color: white;
}

.ordering__delivery-oferta {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  padding: 15px 0 40px 0;
  text-align: center;
}

.delivery__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 15px;
}

.delivery {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
}

.delivery__text {
  padding-bottom: 10px;
}

.delivery__li {
  padding: 0 0 5px 9px;
  position: relative;
}

.delivery__li::before {
  content: "";
  background: black;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 0;
}

.delivery__liqpay {
  padding: 10px 0 0 0;
}

.delivery__liqpay-ul {
  padding-bottom: 40px;
}

.delivery__liqpay-choice {
  padding: 15px 30px 16px 45px;
  background: url(../img/liq1.svg) no-repeat top 15px left 0px;
}

.delivery__liqpay-yes {
  padding: 8px 30px 10px 45px;
  background: url(../img/liq2.svg) no-repeat;
}

.delivery__liqpay-pay {
  padding: 15px 25px 0px 45px;
  background: url(../img/liq3.svg) no-repeat top 44px left 0px;
}

.contacts-page__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 15px;
}

.contacts-page {
  padding: 0 20px;
}

.contacts-page__flex {
  display: flex;
}

.contacts-page__social {
  padding-right: 25px;
}

.contacts-page__social-text {
  padding-bottom: 80px;
  position: relative;
}

.contacts-page__social-text::after {
  content: "";
  background: url(../img/icons/inst.svg) no-repeat;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 30px;
  left: 0;
}

.contacts-page__social-text::before {
  content: "";
  background: url(../img/icons/telegram.svg) no-repeat;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 30px;
  left: 40px;
}

.contacts-page__social-mail {
  padding-bottom: 15px;
}

.contacts-page__adres-text {
  padding-bottom: 15px;
}

.contacts-page__adres {
  padding-right: 30px;
}

.area {
  padding: 40px 35px;
}

.area__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 20px;
}

.area__inp {
  padding: 12px 40px;
  border: 0.5px solid #252525;
  margin-bottom: 15px;
  width: 100%;
}

.area__links {
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
}

.area__btn {
  padding: 12px 0;
  background-color: #e0bea2;
  width: 100%;
  color: white;
  margin-top: 15px;
  text-transform: uppercase;
}

.news {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 290px 0;
  position: relative;
}

.news a {
  color: white;
}

.category__blocks-item {
  position: relative;
}

.category__blocks-item-link {
  display: block;
  width: 165px;
  height: 232px;
  position: absolute;
  top: 0;
  left: 0;
}

.news__text {
  padding-top: 16px;
}

.news__text::after {
  content: "";
  width: 120px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 33%;
}

.likebasket {
  display: flex;
}

.like {
  padding: 0 20px 0 58px;
}

.language {
  display: flex;
}

.languageRu__light {
  color: white;
}

.languageRu {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-top: 2px;
  position: relative;
}

.languageRu-text {
  border-top: 1px solid #e0bea2;
  padding: 3px 6px;
}

.language-popup {
  height: 0;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.37);
  background-color: white;
  transition: 0.5s;
  z-index: 3;
}

.language-popup-white {
  background-color: rgba(100, 100, 100, 0.3529411765);
}

.language__choice {
  background: url(../img/icons/arrowdown-black.svg) no-repeat top 9px left 5px;
  width: 15px;
  height: 20px;
  transition: 0.5s;
}

.language__choice-white {
  background: url(../img/icons/arrowdown-white.svg) no-repeat top 9px left 5px;
  width: 15px;
  height: 20px;
  transition: 0.5s;
}

.language__choice-on {
  transform: rotate(180deg) translate(-20%, -20%);
}

.language-popup-on {
  height: 54px;
}

.scroll-off {
  overflow: hidden;
}

.popup {
  background-color: rgb(255, 255, 255);
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.8s ease;
  position: absolute;
  z-index: 4;
}

.popup-on {
  /* padding: 0 20px 80px; */
  height: 450px;
  box-shadow: #1d1919 4px 34px 70px;
}

.popup__search {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 0.3px solid #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__search-inp {
  border: 0.3px solid #252525;
  padding: 10px 60px 10px 20px;
  border-radius: 20px;
  background: url(../img/icons/lupa.svg) no-repeat top 6px right 20px;
}

.currency {
  padding-left: 20px;
  position: relative;
}

.currency::before {
  content: "";
  background: url(../img/icons/arrowdown-black.svg) no-repeat center;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 53px;
}

.popup__personal {
  margin: 0 20px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.3px solid #252525;
}

.popup__new {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 0.3px solid #252525;
  text-align: center;
}

.navigation {
  padding: 0 20px 15px;
  display: flex;
  flex-wrap: wrap;
}

.navigation__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation a {
  color: #252525;
}

.navigation__links {
  display: block;
  padding-right: 24px;
  background: url(../img/icons/arrowright.svg) no-repeat top 2px right 7px;
  padding-bottom: 6px;
}

.navigation__links:last-child {
  background: none;
}

.navigation__links-svg {
  padding-right: 8px;
}

.navigation__links::after {
  content: "";
  /*width: 14px;
  height: 14px;
  background: url(../img/icons/arrow.png) no-repeat;
  position: absolute;
  left: 55px;
  top: 2px;*/
}

.creamcoat {
  padding: 0 20px 60px 20px;
}

.creamcoat-img {
  padding-bottom: 5px;
}

.creamcoat-img-mini {
  display: flex;
  justify-content: space-between;
}

.creamcoat-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-top: 30px;
}

.creamcoat-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 15px 0;
}

.circlecolor {
  display: flex;
}

.circle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin-right: 7px;
}

.circle-white {
  border: 0.3px solid #252525;
}

.circle-grey {
  background: #6f83a4;
}

.circle-cream {
  background: #f1ddaa;
}

.creamcoat-colortext {
  color: #e0bea2;
  padding: 10px 0 15px;
}

.choosesize {
  padding-bottom: 15px;
}

.choosesize-button {
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  border: 0.5px solid #252525;
  padding: 12px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creamcoat__buttons {
  display: flex;
  justify-content: space-between;
}

.creamcoat__buttons-basket {
  background: #e0bea2;
  padding: 12px 41px;
  color: white;
}

.creamcoat__buttons-armed {
  border: 0.5px solid #252525;
  padding: 12px 19px 12px 19px;
  display: flex;
}

.creamcoat__buttons-armed-heart {
  padding-right: 10px;
}

.parametrs {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.parametrs__detail {
  padding: 15px 0;
}

.parametrs__block-text {
  padding-right: 90px;
}

.parametrs__block-info {
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.parametrs__block-info-on {
  height: 140px;
}

.parametrs__block-arrow {
  transition: 0.5s ease;
}

.parametrs__text {
  font-weight: 200;
  font-size: 12px;
  line-height: 14px;
}

.parametrs__topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parametrs__block {
  position: relative;
  border-bottom: 0.3px solid #252525;
  padding: 13px 0 5px;
}

.obraz__circle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.obraz__block-circles {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.obraz__block-circles-white {
  border: 0.3px solid #252525;
}

.obraz__block-circles-grey {
  background: #6f83a4;
}

.obraz__block-circles-cream {
  background: #f1ddaa;
}

.obraz {
  padding: 0 20px 60px 20px;
}

.obraz__block-img {
  object-fit: cover;
}

.obraz__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.obraz__logotype {
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.obraz__block-sizes {
  display: flex;
  /* justify-content: space-between; */
  padding-bottom: 8px;
  justify-content: center;
}

.obraz__block-size {
  padding-right: 5px;
}

.obraz__block-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0 5px;
  text-align: center;
}

.obraz__block {
  position: relative;
}

.obraz__block-link {
  display: block;
  width: 165px;
  height: 230px;
  position: absolute;
  top: 0;
  left: 0;
}

.obraz__block-price {
  padding-bottom: 11px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.footer {
  padding: 0 20px 5px 20px;
}

.company {
  border-bottom: 0.3px solid #252525;
  position: relative;
  padding-top: 20px;
}

.company__text {
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.company__text-info {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.company__text-on {
  height: 90px;
}

.company__arrow {
  position: absolute;
  top: 23px;
  right: 0;
  transition: 0.3s;
}

.company__arrow-on {
  transform: rotate(180deg);
}

.contacts {
  text-align: center;
}

.contacts__text {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 0 15px 0;
}

.icons {
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
}

.icons__inst {
  margin-right: 13px;
}

.tel {
  padding-bottom: 7px;
}

.mail {
  padding-bottom: 30px;
}

.info {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}